---
layout: page
title: Archive by year
---

{% assign postsByYear = site.posts | group_by_exp:"post", "post.date | date: '%Y'" %}
<nav aria-label="year">
  <h2>Jump to:</h2>
  <h3>{% for year in postsByYear %}
        <a href="#{{ year.name }}">{{ year.name }}</a>&nbsp;
      {% endfor %}</h3>
</nav>

{% for year in postsByYear %}
<h2 id="{{ year.name }}">{{ year.name }}</h2>
<ul class="archive" aria-label="posts from {{ year.name }}">
  {% for post in year.items %}
  <li>
    <h3 class="post-title">
      <a href="{{ site.baseurl }}{{ post.url }}">
        {{ post.title }}
      </a>
    </h3>

    <time datetime="{{ post.date | date_to_xmlschema }}" class="post-date">{{ post.date | date: "%A %-d %B %Y" }}</time>
  </li>
  {% endfor %}
  <hr>
</ul>
{% endfor %}

<ul class="posts">
{% for post in page.posts %}
  <li>
    <span class="post-date">{{ post.date | date: "%b %-d, %Y" }}</span>
    <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
  </li>
{% endfor %}
</ul>