---
layout: archive
title: Archive
permalink: /blog/archive/category
---

<!--Sorting Alphabetically-->
{% capture categories %}
  {% for categories in site.categories %}
    {{ categories[0] }}
  {% endfor %}
{% endcapture %}
{% assign sortedCategories = categories | split:' ' | sort %}

<h2>By category</h2>
<nav class="archive-nav">
  {% for tag in sortedCategories %}
      <strong><a href="#{{ tag | slugify }}" class="post-tag">{{ tag }}</a></strong>&nbsp;
      {% endfor %}
</nav>

<hr>

{% for tag in sortedCategories %}
<h2 id="{{ tag | slugify }}"><a href="{{ site.baseurl }}/{{ tag }}">{{ tag }}</a> <a href="#top">&#10548;</a></h2>
<ul class="related-posts" aria-label="posts classified under {{ tag }}">
  {% for post in site.categories[tag] %}
  <li class="archive-posts">
    {% include post-list.html %}
  </li>
  {% endfor %}
</ul>
<hr>
{% endfor %}