{% if post.external_url %}

<!--<a href="{{ post.external_url }}" onclick="sa_event('linked-{{ post.external_url | remove: 'https://' | remove: 'http://' }}');">-->
<a href="{{ post.external_url }}" onclick="captureOutboundLink(this); return false;">
  <h4>{{ post.title }}
  <small><time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%-d %B %Y" }}</time></small></h4>
</a>

{% else %}

<a href="{{ site.baseurl }}/{{ post.url }}">
  <h4>{{ post.title }}
  <small><time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%-d %B %Y" }}</time></small></h4>
</a>

{% endif %}