---
layout: archive
title: Archive
permalink: /blog/archive/
---

<h2>By year by month</h2>
{% assign postsByYear = site.posts | group_by_exp:"post", "post.date | date: '%Y'" %}
<nav aria-label="year">
  <p>{% for year in postsByYear %}
      <strong><a href="#{{ year.name }}">{{ year.name }}</a></strong>&nbsp;
      {% endfor %}</p>
</nav>

<hr>

{% assign postsByYear = site.posts | group_by_exp:"post", "post.date | date: '%Y'" %}
  {% for year in postsByYear %}
    <h2 id="{{ year.name }}"><a href="{{ site.baseurl }}/blog/{{ year.name }}">{{ year.name }}</a> <a href="#top">&#10548;</a></h2>
    {% assign postsByMonth = year.items | group_by_exp:"post", "post.date | date: '%B'" %}

    {% for month in postsByMonth %}
    <h3><a href="{{ site.baseurl }}/blog/{{ year.name }}/{{ month.name | date: "%m" }}/">{{ month.name }}</a></h3>
      <ul class="related-posts">
        {% for post in month.items %}
          <li class="archive-posts">{% include post-list.html %}</li>
        {% endfor %}
      </ul>
      {% endfor %}
    <hr>
{% endfor %}