---
layout: archive
title: Archive
permalink: /blog/archive/tag
---

<!--Sorting Alphabetically-->
{% capture tags %}
  {% for tag in site.tags %}
    {{ tag[0] }}
  {% endfor %}
{% endcapture %}
{% assign sortedTags = tags | split:' ' | sort %}

<h2>By tag</h2>

<nav class="archive-nav">
      {% assign lastLetter = "" %}
    
  {% for tag in sortedTags %}
        {% assign tmpLetter = tag | slice:0 | upcase %}

        {% if tmpLetter != lastLetter %}
          {% unless lastLetter == "" %}
            <hr>
          {% endunless %}
            <h3 class="archive-header"><a href="{{ site.baseurl }}/archive/tag/#{{ tmpLetter }}">{{ tmpLetter }}</a></h3>
        {% endif %}
    
      <strong><a href="#{{ tag | slugify }}" class="post-tag">{{ tag }}</a></strong>&nbsp;
    
      {% assign lastLetter = tmpLetter %}
  {% endfor %}
</nav>

{% assign lastLetter = "" %}

{% for tag in sortedTags %}

  {% assign tmpLetter = tag | slice:0 | upcase %}

  {% if tmpLetter != lastLetter %}
    <hr>
    <h2 id="{{ tmpLetter }}"><a href="{{ site.baseurl }}/archive/tag/#{{ tmpLetter }}">{{ tmpLetter }}</a> <a href="#top">&#10548;</a></h2>
  {% endif %}
  
  <h3 id="{{ tag | slugify }}"><a href="{{ site.baseurl }}/archive/tag/{{ tag }}">{{ tag }}</a> <a href="#top">&#10548;</a></h3>

  <ul class="related-posts" aria-label="posts classified under {{ tag }}">
  {% for post in site.tags[tag] %}
    <li class="archive-posts">
      {% include post-list.html %}
    </li>
      
  {% assign lastLetter = tmpLetter %}
  {% endfor %}
  </ul>
{% endfor %}

<hr>