---
layout: page
title: Archive
permalink: /blog/archive/tag/
---

<h3>By tag</h3>
<nav>
  <p>{% for tag in site.tags %}
      <strong><a href="#{{ tag[0] | slugify }}" class="post-tag">{{ tag[0] }}</a></strong>&nbsp;
      {% endfor %}</p>
</nav>

<hr>

<p>Filter the archive by <a href="{{ site.baseurl }}/blog/archive/">year</a> or by <a href="{{ site.baseurl }}/blog/archive/category/">category</a>.</p>

<hr>

{% assign sorted = site.tags | split:' ' | sort %}
{% for tag in sorted %}
<h2 id="{{ tag[0] | slugify }}"><a href="{{ site.baseurl }}/blog/tag/{{ tag[0] }}">{{ tag[0] }}</a> <a href="#top">&#11023;</a></h2>
<ul class="related-posts" aria-label="posts classified under {{ tag[0] }}">
  {% for post in tag[1] %}
  <li class="archive-posts">
    {% include post-list.html %}
  </li>
  {% endfor %}
</ul>
<hr>
{% endfor %}