---
layout: default
---

<article class="post">
  
  <h1 class="post-title">
    {% if page.external_url %}
      <a class="external-link" href="{{ page.external_url }}" onclick="captureOutboundLink(this); return false;">{{ page.title }}</a>&nbsp;
      <a href="{{ page.url }}">&#8734;</a>
    {% else %}
    <a href="{{ page.url }}">{{ page.title }}</a>
    {% endif %}
  </h1>

  <a class="post-date" href="{{ page.url }}"><time datetime="{{ page.date | date_to_xmlschema }}">{{ page.date | date: "%A %-d %B %Y" }}</time></a>
  
  {{ content }}
</article>

<hr>

<nav class="related">
  <h3>By category</h3>
  {% for tag in page.categories %}
      <strong><a href="{{ site.baseurl }}/{{ tag | slugify }}" class="post-tag">{{ tag }}</a></strong>&nbsp;
  {% endfor %}
</nav>

{% assign posts = site.posts | where_exp:"post", "post.url != page.url" | sample:3 %}
<aside class="related">
  <h3>Related posts</h3>
  <ul class="related-posts">
  {% for post in posts %}
    <li class="archive-posts">
      {% include post-list.html %}
    </li>
  {% endfor %}
  </ul>
</aside>