---
layout: default
---

<article class="post">
  
  <h1 class="post-title">
    {% if page.external_url %}
      <a class="external-link" href="{{ page.external_url }}" onclick="captureOutboundLink(this); return false;">{{ page.title }}</a>&nbsp;
      <a href="{{ page.url }}">&#8734;</a>
    {% else %}
    <a href="{{ page.url }}">{{ page.title }}</a>
    {% endif %}
  </h1>

  <a class="post-date" href="{{ site.baseurl }}/archive/{{ page.date | date: '%Y/%m/%d' }}"><time datetime="{{ page.date | date_to_xmlschema }}">{{ page.date | date: "%A %-d %B %Y" }}</time></a>
  
  {% if page.tumblr_url %}
  
  <hr>
  
  <h3>Syndication</h3>
  <p>This post was orignally posted on <a href="https://tumblr.com">Tumblr</a> on the blog: <a href="{{ page.tumblr_website_url }}">{{ page.tumblr }}</a>. View the <a href="{{ site.baseurl }}/{{ page.tumblr | slugify }}">full syndicated blog</a> or view the <a href="{{ page.tumblr_url }}">original post.</a></p>
  <hr>
  
  {% endif %}
  
  {{ content }}
</article>

{% if page.categories.size > 0 %}
  <hr>

  <nav class="archive-nav">
    <h3 class="archive-header">By category</h3>
    <p>
    {% for tag in page.categories %}
        <strong><a href="{{ site.baseurl }}/{{ tag | slugify }}" class="post-tag">{{ tag }}</a></strong>&nbsp;
    {% endfor %}
    </p>
  </nav>
{% endif %}

<hr>

{% assign posts = site.posts | where_exp:"post", "post.url != page.url" | sample:3 %}
<aside class="related">
  <h3>Related posts</h3>
  <ul class="related-posts">
  {% for post in posts %}
    <li class="archive-posts">
      {% include post-list.html %}
    </li>
  {% endfor %}
  </ul>
</aside>