---
layout: default
---

<article class="post">
  
  <h1 class="post-title">
    {% if page.external_url %}
      <a class="external-link" href="{{ page.external_url }}" onclick="captureOutboundLink(this); return false;">{{ page.title }}</a>&nbsp;
      <a href="{{ page.url }}">&#8734;</a>
    {% else %}
    <a href="{{ page.url }}">{{ page.title }}</a>
    {% endif %}
  </h1>

  <a class="post-date" href="{{ page.url }}"><time datetime="{{ page.date | date_to_xmlschema }}">{{ page.date | date: "%A %-d %B %Y" }}</time></a>
  
  {{ content }}
</article>

<!--
{% if site.related_posts != empty %}
<aside class="related">
  <h3>Related posts</h3>
  <ul class="related-posts">
    {% for post in site.related_posts limit:3 %}
      <li>
        <a href="{{ site.baseurl }}{{ post.url }}">
          <h4>{{ post.title }}
              <small><time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%-d %B %Y" }}</time></small></h4>
        </a>
      </li>
    {% endfor %}
  </ul>
</aside>
{% endif %}
-->

{% assign posts = site.posts | where_exp:"post", "post.url != page.url" | sample:3 %}
<aside class="related">
  <h3>Related posts</h3>
  <ul class="related-posts">
  {% for post in posts %}
    <li>
      {% include post-list.html %}
    </li>
  {% endfor %}
  </ul>
</aside>