---
layout: archive
---

{% assign postsByMonth = page.posts | group_by_exp:"post", "post.date | date: '%B'" %}

<nav class="archive-nav" aria-label="year">
  <h2 class="archive-header">By year</h2>
  <strong><a href="{{ site.baseurl }}/blog/{{ page.date | date: '%Y' }}/">{{ page.date | date: '%Y' }}</a></strong>&nbsp;
    
  <h3 class="archive-header">By month</h3>
    
  {% for month in postsByMonth reversed %}
    <strong><a href="{{ site.baseurl }}/blog/{{ page.date | date: '%Y' }}/{{ month.name | date: '%m' }}/">{{ month.name }}</a></strong>&nbsp;
  {% endfor %}
</nav>

<hr>

<h2 id="{{ page.date | date: '%Y' }}"><a href="{{ site.baseurl }}/blog/{{ page.date | date: '%Y' }}">{{ page.date | date: '%Y' }}</a></h2>

{% for month in postsByMonth %}
<h3><a href="{{ site.baseurl }}/blog/{{ year.name }}/{{ month.name | date: '%m' }}/">{{ month.name }}</a></h3>
  <ul class="related-posts">
    {% for post in month.items %}
      <li class="archive-posts">{% include post-list.html %}</li>
    {% endfor %}
  </ul>
{% endfor %}
<hr>